body {
    margin: 0;
    padding: 0;
    background-image: url(bgphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
}
.link img{
    position: fixed;
    top: 5px;
    left: 15px;
    width: 70px;
}
.loginbox {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    max-width: 375px;
    margin: 230px auto;
    margin-left: 890px;
    margin-top: 250px;
    background: rgba(0, 0, 0, 0.476);
    background: rgba(255, 255, 255, 0.275);
    box-shadow: 0px 0px 20px 20px rgba(56, 62, 140, 0.252);
    backdrop-filter: blur(4px);
}
.heading1{
    text-align: center;
    color: white;
    text-decoration: underline;
}
input{
    width: 100%;
    padding: 6px;
    margin: 5px 0 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn{
    display: flex;
    justify-content: center;
}
.button{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: rgba(209, 191, 239, 0.793);
    color: white;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    background-color: rgb(157, 151, 237);
    color: rgb(84, 56, 149);
}
label{
    display: block;
    margin: 10px 0;
    color: #e8e8e8;
    font-size: large;
}
.forgot a{
    color: rgb(181, 181, 243);
    font-size: 14px;
}
.forgot a:hover{
    color: rgb(133, 133, 224);
    transition: 0.4s;
}
.new a{
    color: rgb(181, 181, 243);
    font-size: 13px;
}
.new a:hover{
    color: rgb(133, 133, 224);
    transition: 0.4s;
}
.new{
    margin-top: -15px;
}
.new p{
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
}
input[type="password"]{
    padding: 6px;
    margin: 5px 0 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}